.link { 
    stroke: #555555; 
    stroke-opacity: .8; 
    stroke-width: 3px; 
    fill-opacity: 0;
}

.link-over {
    background-color: yellow;
    stroke: #096FA6;
    stroke-width: 3px;
    cursor: pointer;
}

.link-out {
    stroke: #555555;
}

.edgepath {
    fill-opacity: 0;
    stroke-opacity: 0;
    pointer-events: none;
}

.textPath {
    text-anchor: middle;
    pointer-events: none;
}

.node {
    stroke-width: 2px;
    stroke: #555555;
}

.circle {
    fill: #000000;
}

.circle-on {
    fill: #096FA6;
}

.edgelabel {
    pointer-events: none;
    font-family: Times;
}

.arrowhead {
    fill: #555555;
    stroke: none;
}

.arrowhead-on {
    fill: #2A5CD6;
}

.svg-graph {
    width: 100%;
    height: 100%;
}

.left{
    width: 210px;
    height: 50%;
    white-space: nowrap;
    position: fixed;
}

.left .item-menu {
    height:35px;
    overflow:hidden;
}

.left li {
    padding-left: 0px;
}

.left ul{
    padding: 20px;
    list-style-type: none;
}
