.link { 
    stroke: #555555; 
    stroke-opacity: .8; 
    stroke-width: 3px; 
}


.svg-graph {
    /* background: lightgray; */
    width: 100%;
    height: 100%;
}

.left{
    z-index: 99999;
    width: 170px;
    height: 100%;
    white-space: nowrap;
    transition: width 0.5s ;
    position: fixed;
}

/* .left:hover {
    width: 250px;
} */

.left .item-menu {
    height:50px;
    overflow:hidden;
}

.left li {
    padding-left: 10px;
}

.left ul{
    padding: 20px;
    list-style-type: none;
}
