.node ellipse {
    stroke: #000000;
    fill: #000000;
}

.edge path{
    stroke: #909090;
}

.edge polygon{
    stroke: #909090;
    fill: #909090;
}

.li-custom {
    padding: 2px;
    margin-left: 5px;
}

.li-title{
    margin-bottom: 5px;
    margin-top: 5px;
}

.ul-bottom{
    margin-top: 20px;
    max-height: 300px;
    overflow: auto;
}

#graph-div ::-webkit-scrollbar {
  width: 10px;
}

#graph-div ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
#graph-div ::-webkit-scrollbar-thumb {
  background: #909090; 
  border-radius: 10px;
}

.graphviz-custom {
  overflow: auto!important;
  margin-top: 50px;
}

li {
  font-size: 13px;
}

.table-custom{
  font-size: 12px;
}

.error-msg{
  margin-top: 50px;
}