.tooltip-node {
  text-align: left;
  display: table;
  height: 25px;
  padding: 10px;
  background: white;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  font-size: 14px;
}

.td-label{
  text-align: right;
}

.td-info{
  max-width: 350px;
  word-wrap: break-word;
}

.tooltip{
  margin-top: 10px
}


.tooltip{
  opacity: 0;
}

.node ellipse {
  stroke: #000000;
  fill: #000000;
}

.edge path{
  stroke: #909090;
}

.edge polygon{
  stroke: #909090;
  fill: #909090;
}

.li-custom {
  padding: 2px;
}

.ul-custom{
  padding: 12px;
}

.ul-bottom{
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow: auto;
}

#graph-div ::-webkit-scrollbar {
  width: 10px;
}

#graph-div ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
#graph-div ::-webkit-scrollbar-thumb {
  background: #909090; 
  border-radius: 10px;
}

.graphviz-custom {
  overflow: auto!important;
  margin-bottom: 50px;
  margin-top: 50px;
}

li {
  font-size: 13px;
}

.table-custom{
  font-size: 12px;
  table-layout: fixed;
  word-wrap: break-word;
}

.table-custom td{
  max-width: 500px;
}

.error-msg{
  margin-top: 50px;
}

.card-summary {
  margin-bottom: 20px;
  font-size: 14px;
}

.card-summary a {
  color: #6aa3e1;
}

.card-nav{
  padding-bottom: 0;
  font-size: 18px;
}

.examples{
  margin-bottom: 60px;
}

.example-item{
  margin-left: 10px;
}

.button-random{
  width: 150px;
  margin-bottom: 15px;
}